.pub_big_Offset{margin-left:50px;}
    .pub_small_Offset{margin-left:550px;}
    .pub_register{background-color:transparent;border:0px;background-color: #34bf49;}
    .pub_register:hover{background-color:rgba(51, 191, 0, 0.555);}
    .pub_login{background-color:transparent;border:0px;}
    .ul_main{margin-top:10px;}